<div class="main-article-container">
  <div class="jumbotron">
    <div class="container article-header">
      <h1><%= @article.title %></h1>
      <h2><%= @article.subheading %></h2>
      <h4><%= @article.created_at.strftime("%B %e, %Y") %></h4>
    </div>
  </div>

  <div class="container article-text">
    <%= markdown(@article.text) %>

    <hr class="col-xs-12">

    <%= link_to 'Back', articles_path %>
     <!-- | <%= link_to 'Edit', edit_article_path(@article) %> -->

  </div>
</div>
